@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.block-hero {
  position: relative;
  margin-bottom: 50px;

  @include responsive(phone) {
    margin-bottom: 150px;
  }

  .hero-post {
    width: 100%;
    height: 600px;
    display: grid;
    align-items: center;

    @include responsive(phone) {
      align-items: end;
      height: 400px;
    }

    .item-hero-post {
      display: none;
      margin-top: -50px;

      &.active_post {
        display: block;
        animation: fadeIn 0.5s ease-in-out forwards;
      }

      @include responsive(phone) {
        margin-bottom: 25px;
      }
      .inner-post {
        display: none;

        .mts-container {
          display: grid;
          grid-template-columns: 1fr 35%;
          width: -webkit-fill-available;

          @include responsive(phone) {
            grid-template-columns: 100%;
          }
        }

        .big-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          filter: brightness(0.5);
        }
        .column {
          position: relative;

          &:first-child {
            padding-right: 50px;
            @include responsive(phone) {
              padding-right: 0px;
            }
          }

          .date-post-hero {
            font-weight: 600;
            color: $color-white;
            margin-bottom: 10px;
          }
          h1 {
            color: $color-white;
            margin-top: 0;
            margin-bottom: 10px;
            a {
              text-decoration: unset;
              color: $color-white;
              margin-top: 0;
              @include responsive(phone) {
                display: block;
              }
            }
          }
          p {
            color: $color-white;
            margin: 0;
            @include responsive(phone) {
              display: none;
            }
          }
          a {
            margin-top: 20px;
            @include responsive(phone) {
              display: none;
            }
          }

          .small-post {
            cursor: pointer;
            max-width: 260px;
            position: absolute;
            bottom: -20%;
            right: 0;

            @include responsive(tab-port) {
              display: none;
            }

            img {
              max-width: 260px;
              width: 100%;
              height: 136px;
              object-fit: cover;
              border-radius: 10px;
            }
            h3 {
              font-size: 16px;
              margin-top: 8px;
              margin-bottom: 0;
              color: $color-white;
            }
          }
        }

        &.active {
          display: grid;
          animation: fadeIn 0.5s ease-in-out forwards;
        }
      }
    }

    .plagination-hero {
      position: absolute;
      z-index: 3;
      width: 100%;
      bottom: 30px;

      @include responsive(phone) {
        bottom: -60px;
      }

      .row-plagination {
        max-width: 550px;

        @include responsive(phone) {
          margin: auto;
        }

        .column {
          width: 100%;
          display: flex;
          color: $color-white;
          font-weight: 700;
          font-size: 13px;
          justify-content: space-between;

          @include responsive(phone) {
            color: $color-black;
          }

          .item-plagination {
            cursor: pointer;
            width: 33.3%;

            @include responsive(phone) {
              text-align: center;
              padding: 0;
              font-size: 12px;
              font-weight: 700;
            }
          }
        }

        .plagination-line {
          height: 3px;
          background-color: #ffffff7a;
          position: relative;
          margin-top: 10px;

          @include responsive(phone) {
            background-color: #dedede;
          }

          span {
            width: 33.3%;
            height: 3px;
            background-color: $color-yellow;
            display: block;
            position: absolute;
            left: 0;
            transition: 0.3s ease;

            @include responsive(phone) {
              background-color: $color-green;
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
