
@font-face {
    font-family: 'Montserrat';
    src: url( ../font/Montserrat-Bold.woff ) format( 'woff' ),
         url( ../font/Montserrat-Bold.woff2 ) format( 'woff2' );
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url( ../font/Montserrat-BoldItalic.woff ) format( 'woff' ),
         url( ../font/Montserrat-BoldItalic.woff2 ) format( 'woff2' );
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url( ../font/Montserrat-SemiBold.woff ) format( 'woff' ),
         url( ../font/Montserrat-SemiBold.woff2 ) format( 'woff2' );
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url( ../font/Montserrat-SemiBoldItalic.woff ) format( 'woff' ),
         url( ../font/Montserrat-SemiBoldItalic.woff2 ) format( 'woff2' );
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url( ../font/Montserrat-Light.woff ) format( 'woff' ),
         url( ../font/Montserrat-Light.woff2 ) format( 'woff2' );
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url( ../font/Montserrat-Light.woff ) format( 'woff' ),
         url( ../font/Montserrat-Light.woff2 ) format( 'woff2' );
    font-weight: 300;
    font-style: italic;
}
